  /* 調整內容區域(name & tags) */
  #divChangeXmlS2 {
    display: none;
  }

  /* 刪除Xml(按鈕) */
  #divDelXml {
    display: none;
  }

  /* 抽籤結果 */
  #result {
    color: blueviolet;
    font-weight: bold;
  }

  /* 抽籤按鈕 */
  .btn_pick_submit {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
  }

  /* 開啟管理表格按鈕 */
  #btnShowCtrlXmlPanel {
    display: block;
  }

  /* 關閉管理表格按鈕 */
  #btnHideCtrlXmlPanel {
    display: none;
  }

  /* 管理表格介面 */
  #tableControlPanel {
    display: none;
  }